<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style type="text/css">
        .Titulo {
            background-color: rgb(144, 132, 155);
            font-size: larger;
            font-style: italic;
        }
        
        body {
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div class="Titulo">
        <h1>
            Esta es la vista de los riesgos de la fecha {{fecha}} desde plantilla
        </h1>

    </div>
</body>

</html>